node_modules
/.gradle
# React Native
*.log
*.tsbuildinfo
*.env
*.env.*
coverage/

# Android
android/app/build/
android/app/.cxx
android/build/
*.keystore
*.iml
.idea/
.gradle/
local.properties

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.DS_Store
*.xcuserstate
*.xcworkspace/xcuserdata/

# VS Code
.vscode/

# Misc
*.swp
*.swo
*.tmp
__pycache__/
dist/
tmp/